@import "./theme/colors.scss";
@import "./sizes.scss";

.persistent-menu-button {
  width: $textbox-size;
  height: $textbox-size;
}

.persistent-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.persistent-menu .menu-item {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}