@import "./sizes.scss";
@import "./theme/colors.scss";

.quick-replies {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

.reply {
  border: 1px solid $user;
  color: $user;
  padding: 5px 9px;
  border-radius: 14px;
  flex: 0 0 auto;
  margin-right: 5px;
}

.reply > p {
  margin: 0;
}

.reply a {
  color: $button-color;
  text-decoration: none;
}

.reply a:visited {
  color: $button-color;
}
