$corner-radius: 18px;

$top-text-padding: 6px;
$bottom-text-padding: $top-text-padding;
$side-text-padding: 18px;

$image-ratio: 1.6;
$image-width: 200px;
$image-height: $image-width / $image-ratio;

$textbox-size: 30px;
$textbox-size-mobile: 45px;
